#OS X Files
*.DS_STORE

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Xcode Noise
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcworkspace
*.xcuserdata
xcuserdata/
build/

DerivedData
